<div class="row">
    <div class="column1" >
      <h2>Adam Savage said:</h2>
      <div class="about">
        <p class="text-justify">"Humans do two things that make us unique from all other animals; we use tools and tell stories. And when you make something, you’re doing both at once."
          <br>
          That is a beautiful feeling. We create magic in every school lab, makerspace, and workshop we’ve visited. We love experiencing stories as oral tales, pictures and videos, or even in the form of tutorials. Here there is the start point for 
you to create your lab stories.
        </p>
      </div>
    </div>
    <div class="column2" >
        <br>
      <h2 style="color: yellow;">QR AND GITHUB</h2>
      <p>For each device, there is a file uploaded to Github that complements 
        the information of the chapter. In each 
        file you are going to find the technical
        drawings, coding, PCBs and any aditional file that you need to download
        to successfully build your own lab..</p>
    </div>

    <div class="column3">
        <br>
        <div class="github-footers-content-qr-icon2">
            <img src="../../../../assets/images/qrgihub.png" alt="logo" style="width:250px; ">
          </div>

          <div class="icon-bar">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
          </div>
    </div>

    
</div>

<div>
    
</div>
