<section>
    <app-header></app-header>
</section>

<div class="bg-img">
    <app-navbar></app-navbar>
</div>

<div class="about-section">
    <h1> Our researchers</h1>
    <p> 	
        Inside our team, there are three paths one can follow: Development of Equipment & Technology; State-of-the-art Research; and Industrial & Market Applications. Once you choose a path you will contribute in a significant manner to our goals.
        The decision is upon every applicant but each path requieras different abilities and skills. Our members are presented here according to their major contribution..</p>
</div>

<div>
   <img src="../../../../assets/images/OurResearchers.jpg" alt="logo"  class="img">
</div>

<br>
<hr size="2px" color="black"/>
<br>

<div class="div-colum">
    <div class="card">
        <img src="../../../../../src/assets/images/login1.png" alt="John" style="width:100%">
        <h3>Johan Osma</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Juan Sebastián Velásquez </h3>
        <h5 class="h6-titlle" >Electronic Engineer, Electronic Prototyping</h5>
        <h6> js.velasquezm@uniandes.edu.co <br>  <em>Tel. 3023999024  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>
   
    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Luis David Valderrama Hurtado </h3>
        <h5 class="h6-titlle" >Electronic Engineer, Example</h5>
        <h6> ld.valderrama@uniandes.edu.co <br>  <em>Tel. 3208910919  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Maidy Cabrera Penna</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Fernel Zúñiga</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>
</div>

<div class="div-colum">
    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Maria Fernanda Martínez</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Juan Sebastián Velásquez </h3>
        <h5 class="h6-titlle" >Electronic Engineer, Electronic Prototyping</h5>
        <h6> js.velasquezm@uniandes.edu.co <br>  <em>Tel. 3023999024  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>
   
    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Luis David Valderrama Hurtado </h3>
        <h5 class="h6-titlle" >Electronic Engineer, Example</h5>
        <h6> ld.valderrama@uniandes.edu.co <br>  <em>Tel. 3208910919  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Johan Osma</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Johan Osma</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>
</div>

<div class="div-colum">
    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Johan Osma</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Juan Sebastián Velásquez </h3>
        <h5 class="h6-titlle" >Electronic Engineer, Electronic Prototyping</h5>
        <h6> js.velasquezm@uniandes.edu.co <br>  <em>Tel. 3023999024  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>
   
    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Luis David Valderrama Hurtado </h3>
        <h5 class="h6-titlle" >Electronic Engineer, Example</h5>
        <h6> ld.valderrama@uniandes.edu.co <br>  <em>Tel. 3208910919  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Johan Osma</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Johan Osma</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>
</div>

<div class="div-colum">
    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Johan Osma</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Juan Sebastián Velásquez </h3>
        <h5 class="h6-titlle" >Electronic Engineer, Electronic Prototyping</h5>
        <h6> js.velasquezm@uniandes.edu.co <br>  <em>Tel. 3023999024  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>
   
    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Luis David Valderrama Hurtado </h3>
        <h5 class="h6-titlle" >Electronic Engineer, Example</h5>
        <h6> ld.valderrama@uniandes.edu.co <br>  <em>Tel. 3208910919  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Johan Osma</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>

    <div class="card">
        <img src="../../../../../assets/img/login.jpg" alt="John" style="width:100%">
        <h3>Johan Osma</h3>
        <h5 class="h6-titlle" >CEO & Founder, Example</h5>
        <h6> pepito.perez@uniandes.edu.co <br>  <em>Tel. 3002002010  <br>  <strong>Universidad de los Andes</strong></em></h6>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>
</div>

<br>
<br>
<br>


<app-footer></app-footer>
