 <!-- Second Parallax Image with Portfolio Text -->
 <div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
      <span class="w3-xxlarge w3-text-white w3-wide">Publications</span>
    </div>
  </div>

  <!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
    <h2 class="w3-center"  style="font-weight: bold;">Our work!</h2>
    <h4 class="w3-center"><em>Here you will find our most recent publications.</em></h4><br>
  
    <div class="w3-row-padding w3-center">
      <div class="w3-col m3">
        <img src="../../../../assets/img/page-principal/N1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Magnetic Torus Microreactor as a Novel Device for Sample Treatment...">
      </div>
  
      <div class="w3-col m3">
        <img src="../../../../assets/img/page-principal/N1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Magnetic Torus Microreactor as a Novel Device for Sample Treatment via Solid-Phase...">
      </div>
  
      <div class="w3-col m3">
        <img src="../../../../assets/img/page-principal/N2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="CFD Analysis and Life Cycle Assessment of Continuous Synthesis of...">
      </div>
  
      <div class="w3-col m3">
        <img src="../../../../assets/img/page-principal/N3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="CFD Analysis and Life Cycle Assessment of Continuous Synthesis of...">
      </div>
    </div>
  
    <div class="w3-row-padding w3-center w3-section">
      <div class="w3-col m3">
        <img src="../../../../assets/img/page-principal/N3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="CFD Analysis and Life Cycle Assessment of Continuous Synthesis of...">
      </div>
  
      <div class="w3-col m3">
        <img src="../../../../assets/img/page-principal/N1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="CFD Analysis and Life Cycle Assessment of Continuous Synthesis of...">
      </div>
  
      <div class="w3-col m3">
        <img src="../../../../assets/img/page-principal/N1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="CFD Analysis and Life Cycle Assessment of Continuous Synthesis of...">
      </div>
  
      <div class="w3-col m3">
        <img src="../../../../assets/img/page-principal/N1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="CFD Analysis and Life Cycle Assessment of Continuous Synthesis of...">
      </div>
      <button class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px">Learn more...</button>
    </div>
  </div>
  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption" class="w3-opacity w3-large"></p>
    </div>
  </div>
