<section>
    <app-header></app-header>
</section>

<div class="bg-img">
    <app-navbar></app-navbar>
</div>

<div class="about-section">
    <h1> Research areas and projects</h1>
    <p> Our main areas involves Environmental monitoring, Detection of hazardous compounds, Technology for defense,
        Technology for aerospace and the Development of equipment.
        In most areas you can find several microsystems, sensors and biosensors, as well as nanotech techniques. Some of
        these projects are undergoing tech transfer and entrepreneurship.</p>
</div>

<br>
<div class="div-colum">
    <div class="card">
        <div class="content">
            <h1>Environmental </h1>
            <h5 class="h6-titlle">Environmental monitoring is an area that comprises gas detection (e.g. O2, COx, SOx)
                and waste monitoring (e.g. biomass, biogas production). Our team developes sensors and biosensors for these
                purposes using MOx (Metal-Oxide), IR (Infrared), polymeric nanolayers, surface functionalization and
                microsystem fabrication technologies.

                In addition, we develop specific electronics to incorporate there sensors into field-equipment.</h5>
        </div>

    </div>

    <div class="card">
        <div class="content">
            <h1>Detection </h1>
            <h5 class="h6-titlle">Detection of hazardous compounds includes the development of sensors and biosensors to quantify or identify compounds in solution. These sensors are based on enzymes, antibodies or living microorganisms.
                In addition, the development of technologies, equipment, tools and artifacts for blood stream analysis and medical training.</h5>
        </div>

    </div>

    <div class="card">
        <div class="content">
            <h1> Defense </h1>
            <h5 class="h6-titlle">Technology for defense includes the development of sensors, fabric and suit manipulation and electronic systems integrated as interdisciplinary solutions.
                All the developed technology are compatible and can be integrated into different devices and platforms..</h5>
        </div>

    </div>
</div>

<br>

<div class="div-colum">
    <div class="card">
        <div class="content">
            <h1> Aerospace </h1>
            <h5 class="h6-titlle">Technology for aerospace includes the development of microsystems and special electronics for aerospace crafts.
                Also, together with different Schools and Departments of los Andes University, we participate in the Andes Aerospace Project (PUA). We are in charge of the electronic components that comprises the real-time communication system, sensors, processors, electric power and ignition control.</h5>
        </div>

    </div>

    <div class="card">
        <div class="content">
            <h1>Equipment </h1>
            <h5 class="h6-titlle">The development of Equipment and Technology includes the design, manufacture and fabrication of different equipment and infrastructure for the Clean Room and other laboratories.
                This area includes a section of "Do It Yourself" (DIY) that provides open access documents.</h5>
        </div>

    </div>

    <div class="card">
        <div class="content">
            <h1>  Entrepreneurship </h1>
            <h5 class="h6-titlle">Lets make it simple, we like entrepreneurs!!!
                Whatever invention, equipment or new technology we developed is susceptible of tech transfer. And of course, we do our best to make star ups a real option.</h5>
        </div>

    </div>
</div>



<app-footer></app-footer>